In [1]:
Id=None
print(id)

<built-in function id>

In [2]:
print(Id)

None

In [17]:
# get function is used to get the employee details
""" and this function return or
    output the None value
"""
'''and this function return or output the None value'''
def getDetails():
        employeeName = "Anil"
        employeeAge = "23"
        employeeDetails = "Name : " + employeeName + ", Age :"+ employeeAge

In [7]:
print(getEmployeeDetails())

None

In [3]:
employeeAge = 25 # int datatype 
employeeIq = 4.5 # float datatype
mathCalcuateOnEmployee = 1 + 3j # complex datatype

In [19]:
print(getDetails())

None

In [21]:
print(type(employeeAge))

<class 'int'>

In [22]:
print(type(employeeIq))

<class 'float'>

In [23]:
print(type(mathCalcuateOnEmployee))

<class 'complex'>

In [24]:
print(type(getDetails()))

<class 'NoneType'>

In [1]:
employeeName = 'Srinu'
print(employeeName)

Srinu

In [2]:
employeeProfileInfo = """As a developer, I have been working in It from 8 years and know languages are Java, Python, R for backend"""
print(employeeProfileInfo)

As a developer, I have been working in It from 8 years and know languages are Java, Python, R for backend

In [4]:
print("Employee details: \n employee name: "+ employeeName +"\n employee age: "+ employeeAge)

TypeError: can only concatenate str (not "int") to str

In [5]:
print("Employee details: \n employee name: "+ employeeName +"\n employee age: "+ str(employeeAge))

Employee details:
 employee name: Srinu
 employee age: 25

In [6]:
employeeAdress = ''' lig-731, Don't know other details"""
print(employeeAdress)

SyntaxError: incomplete input (2775024768.py, line 1)

In [7]:
employeeAdress = ''' lig-731, Don't know other details '''
print(employeeAdress)

 lig-731, Don't know other details

In [8]:
employeeAdress = ' lig-731, Don't know other details '
print(employeeAdress)

SyntaxError: unterminated string literal (detected at line 1) (1138046803.py, line 1)

In [9]:
employeeAdress = ' lig-731, Don\'t know other details '
print(employeeAdress)

 lig-731, Don't know other details

In [10]:
print(employeeAdress)

 lig-731, Don't know other details

In [11]:
print(type(employeeAdress))

<class 'str'>

In [13]:
employeeNames = ['Ram', 'Hari', 'Srinu']
print(employeeNames)

['Ram', 'Hari', 'Srinu']

In [14]:
employeeNames[0]

'Ram'

In [15]:
employeeNames[0] = 1000

In [16]:
print(employeeNames)

[1000, 'Hari', 'Srinu']

In [1]:
employeeWithSalary = ("Ram",250000, "Hari",250000)
print(employeeWithSalary)

('Ram', 250000, 'Hari', 250000)

In [2]:
employeeWithSalary[2] = "Hari Kumar"

TypeError: 'tuple' object does not support item assignment

In [3]:
maxEmployeeSequence  = range(10)
for employeeNumber in maxEmployeeSequence :
print(employeeNumber)

IndentationError: expected an indented block after 'for' statement on line 2 (3537201778.py, line 3)

In [4]:
maxEmployeeSequence  = range(10)
for employeeNumber in maxEmployeeSequence :
    print(employeeNumber)

0
1
2
3
4
5
6
7
8
9

In [6]:
maxEmployeeSequence  = range(1, 10, 2)
for employeeNumber in maxEmployeeSequence :
    print(employeeNumber)

1
3
5
7
9

In [8]:
employeeScore  = {100,90,80,70,60,50}
print(employeeScore)

{80, 50, 100, 70, 90, 60}

In [9]:
print(employeeScore[0])

TypeError: 'set' object is not subscriptable

In [17]:
employeeScore.update([40,30,40])

In [18]:
print(employeeScore)

{70, 80, '0', 90, 30, 100, 40, 50, 60, '4'}

In [27]:
employeeScore.remove('0')

In [28]:
print(employeeScore)

{70, 80, 90, 30, 100, 40, 50, 60}

In [29]:
employeeScore  = {100,90,80,70,60,50}
finalemployeeScore  = frozenset(employeeScore)
print(finalemployeeScore)

frozenset({80, 50, 100, 70, 90, 60})

In [30]:
employeeScore.remove('90')

KeyError: '90'

In [31]:
finalemployeeScore.remove('90')

AttributeError: 'frozenset' object has no attribute 'remove'

In [33]:
employeeNames = {'Anil','kumar','chaitu'}
print(employeeNames)

{'Anil', 'kumar', 'chaitu'}

In [36]:
employeeNames.remove('Anil')

In [37]:
print(employeeNames)

{'kumar', 'chaitu'}

In [40]:

print(employeeScore)

{80, 50, 100, 70, 90, 60}

In [42]:
employeeScore.remove(90)
print(employeeScore)

{80, 50, 100, 70, 60}

In [2]:
employeeScore  = {'Ram':100,'Srinu':90}

In [3]:
print(employeeScore)

{'Ram': 100, 'Srinu': 90}

In [4]:
print(employeeScore['ram'])

KeyError: 'ram'

In [5]:
print(employeeScore['Ram'])

100

In [6]:
employeeScore['Hari'] = 80

In [7]:
print(employeeScore)

{'Ram': 100, 'Srinu': 90, 'Hari': 80}

In [8]:
employeeStatusActive = True

In [9]:
print(employeeStatusActive)

True

In [10]:
print(type(employeeStatusActive))

<class 'bool'>

In [11]:
employeeStatusActive = False

In [12]:
print(employeeStatusActive)

False

In [13]:
print(type(employeeStatusActive))

<class 'bool'>

In [15]:
if employeeStatusActive : 
	print('Employee is on boarded')
else:
	print('Employee is off boarded')

Employee is off boarded

In [16]:
employeeStatusActive = True

In [17]:
if employeeStatusActive : 
	print('Employee is on boarded')
else:
	print('Employee is off boarded')

Employee is on boarded

In [24]:
employeeCertificationFee = 1000

In [19]:
discount = 100.10

In [27]:
employeeCertificationFee = employeeCertificationFee - discount

In [21]:
print(employeeCertificationFee)

899.9

In [22]:
print(type(employeeCertificationFee))

<class 'float'>

In [25]:
print(type(employeeCertificationFee))

<class 'int'>

In [28]:
print(type(employeeCertificationFee))

<class 'float'>

In [35]:
empCertificationFee = '1000.50'

In [30]:
discount = 100.10
print(discount)

100.1

In [31]:
print(type(empCertificationFee))

<class 'str'>

In [32]:
empCertificationFee = empCertificationFee - discount

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [33]:
empCertificationFee = float(empCertificationFee) - discount
print(type(empCertificationFee))
print(empCertificationFee)

<class 'float'>
900.4

In [36]:
empCertificationFee = int(empCertificationFee) - discount
print(type(empCertificationFee))
print(empCertificationFee)

ValueError: invalid literal for int() with base 10: '1000.50'

In [37]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [39]:
def global():
	print('hello')

SyntaxError: invalid syntax (1212398762.py, line 1)

In [40]:
def global_a():
	print('hello')

In [41]:
global_a()

hello