In [3]:
employeeSalary = 150000
hikeValue = 150000*15/100
def updateSalary(slarary, hike):
    takeHomeAmount = slarary + hike
    return takeHomeAmount

In [4]:
updateSalary(employeeSalary, hikeValue)

172500.0

In [5]:
employeeSalary = 150000
hikeValue = 150000*15/100
def updateSalary(slarary, hike):
    takeHomeAmount = slarary + hike

In [7]:
print(updateSalary(employeeSalary, hikeValue))

None

In [8]:
employeeSalary = 150000
hikeValue = 150000*15/100
def updateSalary(slarary, hike):
    takeHomeAmount = slarary + hike
    print(takeHomeAmount)

In [13]:
updateSalary(a, b)

172500.0

In [23]:
employeeSalary = 1500000
def updateSalary(slarary=500000, hike=15):
    hike = slarary*hike/100
    takeHomeAmount = slarary + hike
    return takeHomeAmount

In [21]:
updateSalary()

550000.0

In [24]:
updateSalary(employeeSalary,15)

1725000.0

In [25]:
updateSalary(hike=15,slarary= 1000000)

1150000.0

In [27]:
updateSalary(15,1500000)

225015.0

In [28]:
updateSalary(hike=15,slarary= 1000000)

1150000.0

In [32]:
def empName(firstName: str, lastName : str) -> str:
    fullName = firstName + lastName
    print(fullName)

In [30]:
empName('Ram', 'Charan')

RamCharan

In [33]:
empName(1000, 1000)

2000

In [19]:
def function_name():
    """ ******code block or set of statements for complete the task****
    ******code block or set of statements for complete the task****
    """
    return 1
function_name.__doc__

' ******code block or set of statements for complete the task****\n    ******code block or set of statements for complete the task****\n    '

In [5]:
emp1Sal = 100000
emp2Sal = 200000
emp3Sal = 300000
emp4Sal = 400000
emp5Sal = 500000
def totalEmpSalary(emp1Salary,emp2Salary, *args):
    empsSalary = sum(args) 
    empsSalary = empsSalary + emp1Salary + emp2Salary
    print(empsSalary)
totalEmpSalary(emp1Sal, emp2Sal, emp3Sal, emp4Sal, emp5Sal, 600000, 700000)

2800000

In [27]:

def empDetails(**kwargs):
    """ Employee Details given as result after calling this empDetails function"""
    print("Employee Details:")
    for keyword, value in kwargs.items():
        print(f"{keyword} ==> {value}")
        
empDetails(empName = 'Rani', empRno = '007', empSal=4500000, empDesg='Data Eng')
empDetails.__doc__

Employee Details:
empName ==> Rani
empRno ==> 007
empSal ==> 4500000
empDesg ==> Data Eng

' Employee Details given as result after calling this empDetails function'

In [18]:
empsSalary = lambda emp1Sal,emp2Sal: emp1Sal + emp2Sal
print(empsSalary(emp1Sal,emp2Sal))

300000